{%extends 'base.html'%}
{%block title%}
    <title>Home</title>
{%endblock%}
{%block content%}

    <hr>

    <div class="card text-center">
    
        <div class="card-body">
        <h5 class="card-title">New Round</h5>
        <p class="card-text">Create a new round from all registered users.</p>
        <a href="{%url 'shuffle:shuffle'%}" class="btn btn-outline-success">Create New Round</a>
        </div>
    </div>

    <br>

    <div class="card text-center">
        <div class="card-body">
        <h5 class="card-title">All Rounds</h5>
        <p class="card-text">Visit all the Rounds and the respected groups inside each of them.</p>
        <a href="{%url 'shuffle:allRounds'%}" class="btn btn-outline-success">Checkout All Rounds</a>
        </div>
    </div>

    <br>

    <div class="card text-center">
        <div class="card-body">
        <h5 class="card-title">Visit Staff Profile</h5>
        <a href="{%url 'shuffle:allStaff'%}" class="btn btn-outline-success">Staff Profile</a>
        </div>
    </div>

    <hr>

{%endblock%}