{%extends 'base.html'%}
{%block content%}
    <table class="table table-borderd table-hover">

        <h3>Route Name : <i>{{round.name}}</i></h3>
        <thead>
            <tr>
                <th>Team</th>
                <th>Member</th>
                <th></th>
                <th></th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {%for chunk in chunks%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    {%for member in chunk%}
                        <td>{{member}}</td>
                    {%endfor%}
                </tr>  
            {%endfor%}    
        </tbody>
    </table>

    <a href="{%url 'shuffle:printView' round.id %}" class="btn btn-outline-success">Print-View</a>
    <a href="{%url 'shuffle:deleteRound' round.id %}" class="btn btn-outline-danger">Delete This Round</a>
    <a href="{%url 'shuffle:allRounds' %}" class="btn btn-outline-success">Back</a>

{%endblock%}