{%extends 'base.html'%}
{%block content%}
    <table class="table table-borderd table-hover">

        <h3>Group Name : <i>{{round.name}}</i></h3>
        <thead>
            <tr>
                <th>Group Number</th>
                <th>Members</th>
            </tr>
        </thead>
        <tbody>
            {%for chunk in chunks%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    {%for member in chunk%}
                        <td>{{member}}</td>
                    {%endfor%}    
                </tr>
            {%endfor%}    
        </tbody>
    </table>

    <a href="{%url 'shuffle:allRounds' %}" class="btn btn-outline-success">Back</a>

{%endblock%}