{%extends 'base.html'%}
{%block content%}

    <h5><i>This are all the registered users ready to be assigned to a new group.</i></h5>
    <table class="table table-borderd table-hover">
        <thead>
            <tr>
                <th>Members</th>
            </tr>
        </thead>
        <tbody>
            {%for chunk in chunks%}
                <tr>
                    {%for member in chunk%}
                        <td>{{member}}</td>
                    {%endfor%}    
                </tr>
            {%endfor%}    
        </tbody>
    </table>
    <hr>
    <h4>Do you want to Shuffle and save a new round?</h4>
    <form method="post" id="test">
        {%csrf_token%}
        {{form}}
        <button type="submit" name="save" class="btn btn-outline-success">
            Shuffle and Save
        </button>
    </form>
{%endblock%}